@page
@model BigStar.Pages.Binding.ToMethodModel
@{
}
<h3>
	Model binding from Method
</h3>
<div class="card-grid">
	<div class="caption">
		Card Name:
	</div>
	<div class="value">
	
	</div>
	<div class="caption">
		Original Price:
	</div>
	<div class="value">
		
	</div>
</div>