@page
@model BigStar.Pages.Binding.ToMethodModel
@{
}
<h3>
  Model binding from Method
</h3>
<div class="card-grid">
  <div class="caption">
    Title
  </div>
  <div class="value">
    data
  </div>
  <div class="caption">
    Title
  </div>
  <div class="value">
    data
  </div>
</div>