@page
@model BigStar.Pages.Binding.ToMethodModel
@{
}
<h3>
  Model binding from Method
</h3>
<div class="card-grid">
  <div class="caption">
    Message 1:
  </div>
  <div class="value">
@Model.Message
  </div>
  <div class="caption">
    Message 2:
  </div>
  <div class="value">

  </div>
</div>