@page
@model BigStar.Pages.Binding.ToModelModel
@{
}
<h3>
	Model binding from Model</h3>
<div class="card-grid">
	<div class="caption">
		Card Name:
	</div>
	<div class="value">
		@Model.CardName
	</div>
	<div class="caption">
		Original Price:
	</div>
	<div class="value">
		@Model.OriginalPrice
	</div>
</div>