@page
@model BigStar.Pages.Binding.ToModelModel
@{
}
<h3>
  Model binding from Model</h3>
<div class="card-grid">
  <div class="caption">
    Title
  </div>
  <div class="value">
    data
  </div>
  <div class="caption">
    Title
  </div>
  <div class="value">
    data
  </div>
</div>