@page
@model BigStar.Pages.Binding.ToQueryStringModel
@{
}

<h3>
  Model binding from Query String
</h3>
<div class="card-grid">
  <div class="caption">
    Card Name:
  </div>
  <div class="value">
    @Model.CardName
  </div>
  <div class="caption">
    Original Price:
  </div>
  <div class="value">
    @Model.OriginalPrice
  </div>
</div>