@page "/Price"
@model BigStar.Pages.Forms.PriceYourCardsModel
@{
}

<form method="post">
  <label>How many cards?</label>
  <input type="number" />

  <label>Card Name?</label>
  <input type="text" />

  <button>Get the price offer!</button>

  <div>
    Message goes here.
  </div>

</form>
