@page "/Price"
@model BigStar.Pages.Forms.PriceYourCardsModel
@{
}

<form method="post">
	<label asp-for="Card.CardCount"></label>
	<input type="number" asp-for="Card.CardCount" />

	@* <label asp-for="Card.CardName"></label>
		<input type="text" asp-for="Card.CardName" /> *@

	<label>Card</label>
	<select asp-items="@Model.CardItems" asp-for="@Model.CardName">
		<option>Select Card</option>
	</select>

	<label>Condition</label>
	<select>
		<option>Select Condition</option>
	</select>

	<button>Get the price offer!</button>

	<div>
		@Model.Message
	</div>

</form>
