@page "/Price"
@model BigStar.Pages.Forms.PriceYourCardsModel
@{
}

<form method="post">
	<label asp-for="Card.CardCount"></label>
	<input type="number" asp-for="Card.CardCount" />

	<label asp-for="Card.CardName"></label>
	<input type="text" asp-for="Card.CardName" />

	<button>Get the price offer!</button>

	<div>
		@Model.Message
	</div>

</form>
