@page
@model MyApp.Namespace.ShowDatesModel
@{
}

<h2>This months sale dates</h2>

<ul>
  @foreach (DateOnly theDate in Model.SaleDates)
  {
    <li>@theDate.ToLongDateString()</li>
  }
</ul>